*{margin: 0;
padding: 0;}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 51);
    height: 150px;
    width: auto;
    margin-left: auto;
    margin-right: auto;

    
}



#main {
    background-image: url("../img/konsert_2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;

}
@media screen {
    
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: rgb(0, 0,51);
    font-family: sans-serif;
    position: absolute;
    top: 0;
    right: 0;
}

#nav-links {
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 520px;
    background-color:rgb(0, 0,51);
    position: absolute;
    right: 0px;
    top: -1000px;
    width: 200px;
    list-style: none;
    transition: all 0.1s;
}

.nav-active {
    transform: translateY(1150px);
}

#nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#nav-links a:hover {
    color: darkgrey;
    background-color: rgb(87, 72, 155);
    transition: ease 0.4s;
}

.line {
    width: 45px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 7px;
    border-radius: 20%;
    transition: all 0.5s;
}

.crossed_line #line_2 {
    opacity: 0;
}

.crossed_line #line_1 {
    transform: rotate(-45deg) translate(-11px, 11px);
}

.crossed_line #line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#meny {
    margin-right: 87.5px;
    cursor: pointer;
    }

footer {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 51);
    height: 150px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#Loggafooter{
    height: 45px;
    width: auto;
}

h1 {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: aliceblue;
    position: relative;
    text-align: center;
    justify-content: center;
    top: 200px;
}
main {
background-color: black;
height: 1000px;
width: auto;

}

input {
    color: rgb(2, 7, 7)
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    text-align: center;
    position: relative;
    top: 250px;
}

#sporter {
    border-radius: 80%;
    align-items: center;
}

a {
color: white;
text-underline-offset: none;

}