*{margin: 0;
padding: 0;}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 51);
    height: 150px;
    width: auto;
    margin-left: auto;
    margin-right: auto;

    
}



#main {
    background-image: url("../img/konsert.jpg");
    height: 700px;

}
@media screen {
    
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: rgb(0, 0,51);
    font-family: sans-serif;
    position: absolute;
    top: 0;
    right: 0;
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    background-color:rgb(0, 0,51);
    position: absolute;
    right: 0px;
    top: -90vh;
    width: 200px;
    list-style: none;
    transition: all 0.5s;
}

.nav-active {
    transform: translateY(100vh);
}

#nav-links a {
    text-decoration: none;
    color: rgb(7, 3, 0);
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 200px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

#nav-links a:hover {
    color: darkgrey;
    background-color: rgb(233, 113, 84);
    transition: ease 0.4s;
}

.line {
    width: 45px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 7px;
    border-radius: 20%;
    transition: all 0.5s;
}

.crossed_line #line_2 {
    opacity: 0;
}

.crossed_line #line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.crossed_line #line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#meny {
    margin-right: 87.5px;
    cursor: pointer;
    }

footer {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 51);
    height: 150px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#Loggafooter{
    height: 45px;
    width: auto;
}